<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns = "http://www.w3.org/ns/widgets" 
   xmlns:gap = "http://phonegap.com/ns/1.0" id = "com.tutorialspoint.onlineviewer" version = "1.0">
   
   <name>Nathaniel Abernathy</name>
   
   <description>
      Graph 410 example web site to app using PhoneGap
   </description>
   
   <author href = "http://www.nathanielabernathy.com" email = "nrabernathy@gmail.com">
      Digiverse of Nathaniel Abernathy
   </author>
   
   <preference name = "permissions" value = "none"/>
   
   <icon src = "images/android/ldpi/ic_launcher.png" 
      gap:platform = "android" gap:qualifier = "ldpi" />
		
   <icon src = "images/android/mdpi/ic_launcher.png" 
      gap:platform = "android" gap:qualifier = "mdpi" />
		
   <icon src = "images/android/hdpi/ic_launcher.png" 
      gap:platform = "android" gap:qualifier = "hdpi" />
		
   <icon src = "images/android/xhdpi/ic_launcher.png" 
      gap:platform = "android" gap:qualifier = "xhdpi" />
		
   <icon src = "images/android/xxhdpi/ic_launcher.png" 
      gap:platform = "android" gap:qualifier = "xxhdpi" />
   
   <icon src = "images/ios/Icon-72.png" gap:platform = "ios" gap:qualifier = ""/>
   <icon src = "images/ios/Icon-50.png" gap:platform = "ios" width = "50" height = "50" />
   <icon src = "images/ios/Icon-72.png" gap:platform = "ios" width = "72" height = "72" />
   <icon src = "images/ios/Icon-50-2x.png" gap:platform = "ios" width = "100" height = "100" />
   <icon src = "images/ios/Icon-72-2x.png" gap:platform = "ios" width = "144" height = "144" />
   
</widget>